.App{
  height:100vh;
 width:100vw;
 background: #FFFFFF;
 display:flex;  
 justify-content: space-between;
}

@media (max-width:788px){
  html{
    font-size:50%
  }
}
@media (max-width:638px){
  html{
    font-size:40%
  }
}
@media (max-width:550px){
  html{
    font-size:30%
  }
}